@import "./src/styles/consts";

.line-item{
  height: 40px;
  width: 100%;

  &__container{
    border-radius: $border-radius-main;
    display: flex;
    align-items: center;
    padding: 8px;

    & .sub-title{
      margin-left: 32px;
      color: $color-black-high-emphasis;
    }
    &:hover{
      background-color: $color-hover-overlay-black-light;
    }
  }
  &.isActive{
    .line-item__container{
      background-color: $color-secondary;
      & svg > path{
        fill: $color-primary;
        opacity: 1;
      }
      & .sub-title{
        color: $color-primary;
      }
    }
  }
}
