@import "./src/styles/consts";

.divider{
  &.horizontal{
    width: 100%;
    border-top: 1px solid $color-gray-divider;
  }
  &.vertical{
    height: $height-block;
    border-left: 1px solid $color-gray-divider;
  }
}
