@import "../../../../sass/mixins";

.cityEmployeesList {
  display: flex;
  flex-flow: column;

  @include mobile-639-0 {
    ul {
      height: 300px;
    }
  }

  & > span {
    font-size: 14px;
    line-height: 16px;
    color: #5d6c74;
    margin-top: 26px;
    margin-bottom: 18px;
  }

  &  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    @include mobile-639-0{
      max-height: 100%;
    }

    & li {
      padding-bottom: 20px;
    }

    & button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &__button {
    margin: 10px auto 0;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 280px;
    & > a{
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}
