@import "../../../../styles/consts";

.personal-info{
  width: 100%;

  &__container{
    display: flex;
    align-items: center;
    height: $height-block;
    &_avatar{
      margin-right: 10px;
    }
    &_info{
      display: flex;
      flex-flow: column;
      justify-content: center;
      &.sub-title{
        color: $color-black-medium-emphasis;
      }
    }
  }
}
