@import "../../../../styles/consts";

.toggle-sidebar{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  & .sub-title{
    margin-left: 32px;
    color: $color-black-high-emphasis;
    cursor: pointer;
  }

}
