@import "../../../../styles/consts";

.toggle-sidebar{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: $border-radius-main;
  padding: 8px 8px 8px 13px;

  & #toggle-sidebar{
    display: flex;
  }
  & .sub-title{
    cursor: pointer;
    padding-left: 22px;
    color: $color-black-high-emphasis;
  }
  &:hover{
    background-color: $color-hover-overlay-black-light;
  }
}
