@import "./src/styles/consts";

.select{
  &__container {
    width: $width-block;
    height: $height-block;
    border-bottom: 2px solid $color-gray-divider;
  }
  &.focus {
    & .select__container{
      border-color: $color-primary;
    }
  }
  &__label{
    display: flex;
    padding-left: 8px;
    font-size: 0.8rem;
    margin-bottom: 4px;
    color: $color-black-disabled;
  }

  & .__control{
    border: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    box-shadow: none;
    height: 100%;
  }
  & .__indicator-separator{
    display: none;
  }
  & .__menu{
    top: calc(100% + 2px);
    margin: 0;
    box-shadow: $shadow-dropdown;
    background: $color-white-high-emphasis;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  & .__menu-container{
    max-height: 200px;
  }
  & .__option{
    display: flex;
    align-items: center;
    background-color: $color-white-high-emphasis;
    height: $height-block;
    &:not(:last-child){
      vertical-align: center;
      border-bottom: 1px solid $color-gray-divider;
    }
  }
  & .__option--is-focused{
    background-color: $color-primary-lightest;
  }
  & .__option--is-selected{
    background-color: $color-primary-lighter;
  }
  &__clearIndicator{
    & > div{
      height: 24px;
    }
    cursor: pointer;
    & svg{
      & path {
        fill: $color-black-high-emphasis;
        opacity: 0.54;
      }
      & circle {
        fill: $color-black-high-emphasis;
        opacity: 0.12;
      }
    }
    &:hover svg{
      & path {
        fill: $color-black-high-emphasis;
        opacity: 0.6;
      }
      & circle {
        fill: $color-black-high-emphasis;
        opacity: 0.16;
      }
    }
    &:active svg{
      & path {
        fill: $color-black-high-emphasis;
        opacity: 0.8;
      }
      & circle {
        fill: $color-black-high-emphasis;
        opacity: 0.25;
      }
    }
  }
}
