@import "../../../../styles/consts";

.header-area{
  padding: 0 16px;
  &__container{
    display: flex;
    margin: 24px 0;
    &_avatar{
      margin-right: 10px;
    }
    &_info{
      display: flex;
      flex-flow: column;
      &.sub-title{
        color: $color-black-medium-emphasis;
      }
    }
  }
  &.collapse{
    padding: 0;
  }
}
