@import "./src/styles/consts";
@import "./src/styles/media-queries";

.hotels-lazy-list-item{
  display: flex;
  background-color: $color-white--medium-emphasis;
  border: $border-main;
  margin: 5px 0;
  padding: 15px;
  border-radius: $border-radius-main;
  box-shadow: $shadow-btn;

  &__container{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
  &__title{
    display: flex;
    align-items: center;
  }
}