@import '../../../../sass/mixins';

.gm-marker {
  display: flex;
  width: 32px;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  top: -48px;
  left: -16px;

  &-simple {
    cursor: default;
  }

  & > span {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    line-height: 26px;
  }
}
