@import "./src/styles/consts";

.navigation-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-white-high-emphasis;;

  &__group{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  & .sub-title{
    color: $color-black-high-emphasis;
    &.sub-group{
      margin-bottom: 10px;
    }
  }
}
