@import "./src/styles/media-queries";

.hotels-filter{

  &__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    @include media-tablet-959{
      flex-flow: column;
    }

    & .input{
      &.next-id{
        width: 150px;
      }
      &.length{
        width: 150px;
      }
    }
    & .select__container{
      width: 340px;
    }
  }
}
