@import "../../../../styles/consts";

.vertical-sheets{
  position: relative;
  display: flex;
  flex-flow: column;
  width: $width-nav-menu-default;
  height: 100%;
  box-shadow: $shadow-nav;

  &.isPlain {
    box-shadow: none;
    border-right: 1px solid $color-gray-divider;
  }
  &.collapse{
    width: $width-nav-menu-collapse;
  }
  & .toggle{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
