// media
$desktop-lg-width: 2560px;
$desktop-md-width: 1599px;
$tablet-lg-width: 1199px;
$tablet-md-width: 959px;
$mobile-lg-width: 639px;
$mobile-md-width: 479px;

// colors
$bg-body: #fff;
$bg-widget: #fff;

$btn-default: #fff;
$btn-hover: #fff;
$btn-pressed: #fff;
$btn-focused: #fff;
$btn-disabled: #fff;


$border: #d1cfd7;

// fonts
$semi-bold: 600;
$normal: 400;
