@import "../../../../sass/mixins";


.routeInfoPopup{
  position: absolute;
  top: 30px;
  left: -140px;

  &-wrap{

    & .popup-body{
      & > div:not(:last-child){
        border-bottom: 1px dashed #98A2A8;
      }
    }
  }
}
