@import "../../../../styles/consts";
@import "../../../../styles/utilities";

.contained-button{
  @include flex-center();
  position: relative;
  min-height: $height-block-40;
  max-width: 320px;
  box-shadow: $shadow-btn;
  border-radius: $border-radius-main;
  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;

  &:hover{
    box-shadow: $shadow-btn-hover
  }

  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100% 180%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    border-radius: 30%;
  }

  &:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  &:disabled {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.contained-button.color-main{
  color: $color-white-high-emphasis;
  background: $color-primary;

  & path {
    fill: $color-white-high-emphasis;
    fill-opacity: 1;
  }
  &:hover{
    background: $color-primary-lighter;
  }
  &::after{
    background: $color-primary-lightest;
  }
  &:disabled {
    color: $color-white-disabled;
    background: $color-black-disabled;
    & path {
      fill: $color-white-disabled;
      fill-opacity: 1;
    }
  }
}

.contained-button.color-secondary{
  color: $color-primary;
  background: $color-secondary;

  & path {
    fill: $color-primary;
    fill-opacity: 1;
  }
  &:hover{
    background: $color-secondary-lighter;
  }
  &::after{
    background: $color-secondary-lightest;
  }
  &:disabled {
    color: $color-black-disabled;
    background: $color-gray-inactive;
    & path {
      fill: $color-black-disabled;
      fill-opacity: 1;
    }
  }
}
