.text-editor-default {
  border: 1px solid #d1cfd7;
  background: white;
  font-size: 14px;
  line-height: 20px;
  font-family: 'HarmoniaSans', sans-serif;
  width: 100%;
  resize: none;
  position: relative;

  &-controls {
    border-bottom: 1px solid #d1cfd7;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;

    & button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #000000;

      &:last-child {
        justify-self: flex-end;
        margin-left: auto;
      }

      & > svg {
        &:hover {
          & > path {
            stroke: #6b6870;
          }
        }

        &:active {
          & > path {
            stroke: #94929a;
          }
        }
      }
    }
  }

  & .DraftEditor-root {
    height: calc(100% - 40px);
    overflow-y: auto;

    & > div {
      height: 100%;

      & > div {
        padding: 16px 22px 10px;
        height: 100%;
      }
    }
  }

  & .lang-title {
    position: absolute;
    top: 58px;
    left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

.ULRInput {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 20px 0;

  & input {
    width: 100%;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 2px;
    border: 1px solid #d1cfd7;
  }
}

.rdw-editor-wrapper {
  border: 1px solid black;
  display: flex;
  flex-flow: column;

  & .rdw-editor-toolbar {
    display: flex;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-wrap: wrap;
    }
  }

}
