@import "./src/styles/consts";
@import './src/styles/media-queries';

.layout{
  position: relative;
  max-width: $width-desktop-1920;
  margin: 0 auto;

  &__content{  display: flex;
    flex-flow: column;
    margin-left: $width-nav-menu-default;
  }
  &.collapse{
    & .layout__content{
      margin-left: $width-nav-menu-collapse;
    }
  }
}
